<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <%- partial('_partial/busuanzi') %>
            </div>
            <div class="col-sm-12">
                <span>Copyright &copy; <%= theme.since %>
                </span> |
                <span>
                    Powered by <a href="//hexo.io" class="copyright-links" target="_blank" rel="nofollow">Hexo</a>
                </span> |
                <span>
                    Hosted by <a href="//coding.net/" class="copyright-links" target="_blank" rel="nofollow">Coding Pages</a>
                </span>
            </div>
        </div>
    </div>
</div>

<%- partial('_partial/script') %>
