<footer class="footer">
    <div class="footer-inner">
        <p>
            ©2018 基于<a href="http://hexo.io" target="_blank">Hexo</a>搭建
            ，主题&nbsp<a href="https://github.com/tangkunyin/hexo-theme-jsimple" target="_blank">JSimple</a>
            ，作者<a href="###" target="_blank">闫先森</a>
            ，Hosted by <a href="https://pages.coding.me" style="font-weight: bold">coding Pages</a>
        </p>
        <%- partial('_widget/site-analytics') %>
    </div>
</footer>
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<%- js(['js/InsightSearch','js/SimpleCore']) %>
